.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0fp;
    top: 0fp;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.title {
    font-size: 20fp;
    text-align: start;
    width: 100%;
    height: 28fp;
    margin-top: 12fp;
    margin-left: 23fp;
    margin-right: 25fp;
    color: #000000;
}

.btn {
    width: 50%;
    height: 100fp;
    font-size: 40fp;
}

.list {
    width: 100%;
    height: 100%;
    margin-top: 22fp;
}

.normal {
    width: 100%;
    height: 100%;
}

.listItem {
    width: 100%;
    height: 42fp;
    margin-top: 12fp;
    margin-bottom: 12fp;
}

.imeName {
    width: 100%;
    height: 22fp;
    font-size: 16fp;
    weight: medium;
    color: #000000;
}

.imeDecription {
    width: 100%;
    height: 22fp;
    font-size: 13fp;
    weight: medium;
    margin-top: 2fp;
    color: #66000000;
}

.imeMessage {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 23fp;
}

.circle {
    width: 24fp;
    height: 24fp;
    margin-left: 12fp;
    margin-right: 24fp;
}